In [3]:
import numpy as np
from functools import reduce
file1=open("myfile.txt","r")
a=file1.read()

In [4]:
b=a.lower().split(' ')
d={}
for i in range (len(b)):
    if b[i] not in d:
        d[b[i]]=1
    else:
        d[b[i]]+=1
keylist=list(d.keys())
vallist=list(d.values())
vallist1=np.argsort(vallist)
d1={keylist[i]:vallist[i] for i in vallist1}
d1

{'jane': 1,
 'tempura': 1,
 'share': 1,
 'the': 1,
 'meal': 1,
 'have': 1,
 'created': 1,
 'vegetable': 1,
 'together.': 1,
 'served': 1,
 'cold,': 1,
 'look': 1,
 'zaru': 1,
 'which': 1,
 'is': 1,
 'when': 1,
 'topped': 1,
 'nori.': 1,
 'rolls': 1,
 '(nori': 1,
 'was': 1,
 'maki': 1,
 'vegan': 1,
 'will': 1,
 'looking': 1,
 'sushi.': 1,
 'rice)': 1,
 'to': 1,
 'seaweed': 1,
 'nori': 1,
 'with': 2,
 'udon': 2,
 'make': 2,
 'we': 2,
 'sushi': 2,
 'for': 2,
 'and': 2}

In [5]:
print("Top 10 words with most number of occurances: ")
count=0
words=[]
for i in d1:
    count+=1
    words.append(i)
    if count==10:
        break
words.reverse()
print(words)

Top 10 words with most number of occurances:
['served', 'together.', 'vegetable', 'created', 'have', 'meal', 'the', 'share', 'tempura', 'jane']

In [6]:
lenlist=[len(i) for i in keylist]
lenlist

[4,
 3,
 7,
 3,
 4,
 7,
 2,
 4,
 6,
 2,
 4,
 5,
 4,
 5,
 5,
 5,
 4,
 5,
 3,
 9,
 7,
 5,
 3,
 4,
 4,
 7,
 9,
 4,
 6,
 5,
 4,
 4,
 4,
 5,
 2,
 6,
 5]

In [7]:
sum1=reduce(lambda x,y:x+y, lenlist)
avg1=sum1/len(lenlist)
avg1

4.72972972972973

In [8]:
odd=[i**2 for i in lenlist if i%2!=0]
odd

[9, 49, 9, 49, 25, 25, 25, 25, 25, 9, 81, 49, 25, 9, 49, 81, 25, 25, 25]