In [38]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
titanic_df=pd.read_csv('train copy 2.csv')

In [40]:
titanic_df ['Survived']=titanic_df ['Survived'].map({
    0:'Died',
    1:'Survived'
})

In [41]:
print(titanic_df.head(5))

   PassengerId  Survived  Pclass  \
0            1      Died       3
1            2  Survived       1
2            3  Survived       3
3            4  Survived       1
4            5      Died       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN      NaN
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN      NaN
3      0            113803  53.1000  C123      NaN
4      0            373450   8.0500   NaN        S

In [43]:
titanic_df.drop(['Parch','Ticket','PassengerId','Name'],axis=1,inplace=True)
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age  SibSp     Fare Cabin Embarked
0      Died       3    male  22.0      1   7.2500   NaN      NaN
1  Survived       1  female  38.0      1  71.2833   C85        C
2  Survived       3  female  26.0      0   7.9250   NaN      NaN
3  Survived       1  female  35.0      1  53.1000  C123      NaN
4      Died       3    male  35.0      0   8.0500   NaN        S

In [46]:
titanic_df=titanic_df.drop(['SibSp','Fare'],axis=1)
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age Cabin Embarked
0      Died       3    male  22.0   NaN      NaN
1  Survived       1  female  38.0   C85        C
2  Survived       3  female  26.0   NaN      NaN
3  Survived       1  female  35.0  C123      NaN
4      Died       3    male  35.0   NaN        S

In [48]:
titanic_df['Pclass']=titanic_df['Pclass'].map({
    1:'Luxury',
    2:'Middle',
    3:'Lower'
})
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age Cabin Embarked
0      Died   Lower    male  22.0   NaN      NaN
1  Survived  Luxury  female  38.0   C85        C
2  Survived   Lower  female  26.0   NaN      NaN
3  Survived  Luxury  female  35.0  C123      NaN
4      Died   Lower    male  35.0   NaN        S

In [50]:
titanic_df['Embarked']=titanic_df['Embarked'].fillna('S')
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age Cabin Embarked
0      Died   Lower    male  22.0   NaN        S
1  Survived  Luxury  female  38.0   C85        C
2  Survived   Lower  female  26.0   NaN        S
3  Survived  Luxury  female  35.0  C123        S
4      Died   Lower    male  35.0   NaN        S

In [52]:
titanic_df['Embarked']=titanic_df['Embarked'].map({
    'C':'China',
    'S':'South America'
})
print(titanic_df.head(5))

   Survived  Pclass     Sex   Age Cabin       Embarked
0      Died   Lower    male  22.0   NaN  South America
1  Survived  Luxury  female  38.0   C85          China
2  Survived   Lower  female  26.0   NaN  South America
3  Survived  Luxury  female  35.0  C123  South America
4      Died   Lower    male  35.0   NaN  South America

In [ ]:
ax=sns.countplot(x='Pclass',hue='Survived',palette='set1',data=titanic_df)
ax.set(title='Passenger status against passenger class',xlabel='Passenger class',ylabel='Total')
plt.show()